.menu nav ul a {
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
}

.menu nav ul li a:hover {
    background-color: deeppink;
}

.menu nav ul {
    display: flex;
}

