@media (max-width: 900px) {
   .menu .menu-responsivo {
    display: block;
   }

   .menu nav ul {
    display: none;
   }

   .menu input:checked ~ ul{
    display: block;
   }

   .menu nav {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 1;
    background-color: black;
   }

   .menu nav ul {
    width: 200px;
    /* background-color: black;
    border-radius: 10px; */
    padding: 20px;
   }

   .menu nav ul a {
    display: block;
    text-align: center;
    padding: 20px;
   }
}

@media (max-width: 450px) {
    .contatos nav ul li a {
        margin: 10px;
    }
}